{% extends "./base.html" %} 
{% block title %} 100 llamadas emergencias {% endblock %} {% block body %}
<!-- {{form}} -->

    
      <!-- tabla de citas -->
      <div class="col-sm-9 text-center">
        <div class="row">
            <a class="btn btn-outline-primary btn-lg btn-block active" href="#"  data-toggle="modal" data-target="#modalnuevacitas"> Nuevas Citas 2 </a>
            
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>FECHA</th>
                <th>HORA</th>
                <th>MEDICO</th>
                <th>PACIENTE</th>
                <th>ACCIONES</th>
              </tr>
            </thead>
            <tbody>
              {% for c in citas %}
              <tr>
                <td>{{c.cit_fecha}}</td>
                <td>{{c.cit_hora}}</td>
                <td>{{c.med_id}}</td>
                <td>{{c.pac_id}}</td>
                <td> <a href="" class="btn btn-info">editar</a></td>
                <td> <a href="" class="btn btn-danger">eliminar</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- fin tablas  citas -->

<!-- tablas pacientes -->
<div class="col-sm-9 text-center">
  <div class="row">
      <a class="btn btn-outline-primary btn-lg btn-block" href="#"> PACIENTES </a>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>NOMBRE</th>
          <th>APELLIDO</th>
          <th>CEDULA</th>
          <th>CELULAR</th>
        </tr>
      </thead>
      <tbody>
        {% for p in pacientes %}
        <tr>
          <td>{{p.pac_nombre}}</td>
          <td>{{p.pac_apellido}}</td>
          <td>{{p.pac_ced_ruc}}</td>
          <td>{{p.pac_cell_telf.celular}}</td>
          <td> <a href="" class="btn btn-info">editar</a></td>
          <td> <a href="" class="btn btn-danger">eliminar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- fin tablas pacientes  -->

<!-- tablas medicos -->
<div class="col-sm-9 text-center">
  <div class="row">
      <a class="btn btn-outline-primary btn-lg btn-block" href="#"> MEDICOS </a>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>NOMBRE</th>
          <th>APELLIDO</th>
          <th>ESPECIALIDAD</th>
          
        </tr>
      </thead>
      <tbody>
        {% for m in medico %}
        <tr>
          <td>{{m.med_nombre}}</td>
          <td>{{m.med_apellido}}</td>
          <td>{{m.esp_id}}</td>
          
          <td> <a href="" class="btn btn-info">editar</a></td>
          <td> <a href="" class="btn btn-danger">eliminar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- fin tablas  medicos -->

<!-- tabla de especialidades-->
<div class="col-sm-9 text-center">
  <div class="row">
      <a class="btn btn-outline-primary btn-lg btn-block" href="#"> ESPECIALIDADES </a>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>ESPECIALIDAD</th>
          
        </tr>
      </thead>
      <tbody>
        {% for e in especialidades %}
        <tr>
          <td>{{e.esp_id}}</td>
          <td>{{e.esp_nombre}}</td>
          
          <td> <a href="" class="btn btn-info">editar</a></td>
          <td> <a href="" class="btn btn-danger">eliminar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- fin tablas  especialidades -->



    

   
  

{% endblock %}
